/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #ffebef; /* Lighter shade of pink */
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #333;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 22%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
}

input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"] {
    height: 30px;
}

textarea {
    height: 150px; /* Adjusted content box height */
}

.button-group {
    margin-top: 40px; /* Space between author input and submit button */
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    background-color: #28a745; /* Green color */
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #218838;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
